.content-head{
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
}

.info{
    width: 80%;
}

.actions{
    display:flex;
    justify-content: center;
    align-items: center;
}

.actions button{
    width: 100px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 2px;
    color: white;
}

.info-button {
    background-color: #5BA4FC;
}

.delete-button {
    background-color: #6a51ae;
}