.administrar-usuarios {
  width: 100%; 
  display: flex; 
  height:100vh;
 flex-direction: column; 
  /* justify-content: center;  */
  align-items: center; 
  background-color: #d8d8db; 
 animation: fadeInAnimation 1s forwards; 
}

.administrar-usuarios h2{
  font-size: 24px;
}

.administrar-usuarios img{
  width:40px;
  height:20px;
  text-align: center;
}


.search-options {
    margin: 10px;
    background-color: rgb(232, 232, 232);
    width: 50%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.search-options select {
    width: 150px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
}

.search-options input {
    height: 25px;
    width: 200px;
    border: none;
    font-size: medium;
    margin-right: 5px;
}

.search-options button {
    height: 30px;
    border: none;
    border-radius: 2px;
    width: 80px;
}

.list-container {
    height: 600px;
    width: 650px;
    overflow-y: auto;
}

.user-create-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;

}

.user-create-form div {
    margin-bottom: 5px;
    background-color: #133c66;
}

.error-message {
    color: #e90800;
}


  .create-user-modal {
    border: none;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #2a2942;
    color: white;
  }
  
  .information-container {
    background-color: #133c66;
    color:white;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .actions-container {
    display: flex;
    justify-content: center;
  }

  .actions-container button{
    border: none;
    width: 100px;
    height: 30px;
    background-color: #64637a;
    color: white;
  }

  /*tabla*/
  .container4{
    /* margin-top:25px;  */
    width: auto; 
    max-height: 535px; 
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin:25px; */
    overflow-y: auto;
}

.container4 thead {
    width: 100%;
    position: sticky;
    top: 0; 
}

.container4 th{
    width:auto;
    /* max-height: 70px; */
    background-color: #63647a;
    color: #ffffff;
    /* border-radius: 5px; */
    border: 1px solid black;
    margin-bottom: 10px;
}


.container4 table{
    /* width:auto;
    margin:30px;
    border: 1.5px solid black;
    border-collapse: collapse;
    margin-top:25 px; 
   /* border: 40px; */ 
   width: 1000px;
   border-collapse: collapse;
   /* height: 100px; */
   border-radius: 5px;
   border: 1px solid #000000;
   border-radius: 5px;
}

.container4 tr{
    border: 1.5px solid black;
    width: 100%;
}


.container4 td{
    /* width:100%;  */
    /* border: 1.5px solid black; */
    background-color: #ffffff;
    color:#000000;
    padding: 8px;
    text-align: left;
    /* border: 1.5px solid #0b0b0b;
    border-radius: 5px; */
   
} 

.container4 td:hover{
    background-color: #63647a;
}