/* Asegura que el contenedor principal ocupe toda la altura de la pantalla */
.create-questions {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d8d8db;
  animation: fadeInAnimation 1s forwards;
}

/* Estilo para el título */
.tituloCrearEncuesta {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logins-form {
  background-color: #333356;
  padding: 20px;
  border-radius: 8px;
  color:white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%; 
}

.logins-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.logins-form input,
.logins-form select {
  width: 50%;
  padding: 10px;
  color:black;
  margin-left: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.preguntasContainer{
  
}

.Agregar,
.Eliminars {
  background-color: #cd1c2c;
  color: white;
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  margin-bottom: 10px;
}

.Fin {
  background-color: #322db9;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-left: 15px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Estilo hover para los botones */
.Agregar:hover,
.Eliminars:hover {
  background-color: #9c1621;
}

.Fin:hover {
  background-color: #161449;
}

/* Contenedor general */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0; /* Remueve cualquier padding */
  margin: 0; /* Remueve cualquier margin */
}

/* Estilo para el mensaje de error */
.error-message {
  color: red;
}
