/* Asegura que el contenedor principal ocupe toda la altura de la pantalla */
.create-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente */
  min-height: 100vh; /* 100% de la altura de la ventana */
  background-color: #F5F5F5;
  padding: 0; /* Remueve cualquier padding */
  margin: 0; /* Remueve cualquier margin */
}

/* Estilo para el título */
.tituloCrearEncuesta {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo para el formulario */
.logins-form {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%; /* Ajusta el ancho según sea necesario */
}

/* Estilo para las etiquetas de texto */
.logins-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Estilo para los inputs y selects */
.logins-form input,
.logins-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para los botones */
.Agregar,
.Eliminars,
.Fin {
  background-color: #4A4A7A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Estilo hover para los botones */
.Agregar:hover,
.Eliminars:hover,
.Fin:hover {
  background-color: #3A3A6A;
}

/* Contenedor general */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0; /* Remueve cualquier padding */
  margin: 0; /* Remueve cualquier margin */
}

/* Estilo para el mensaje de error */
.error-message {
  color: red;
}
