.dashboard-container {
    background-color: #d8d8db;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInAnimation 1s forwards; 
}

.header-image{
    width: 100%;
    height: 100%;
}

/* -------------------------- */
.avatar-image {
    display: flex;
    width: 250px;
    height: 250px;
    margin-top: 40px; 
    margin-left: 100px;
    background-color: #9496AE;
    border: 3px solid #2E2D40;
    border-radius: 5px;
    z-index: 1;
}

.unknown-box {
    width: 250px;
    height: 30px;
    background-color: #43435c;
    border-radius: 5px;
    border-color: black;
    text-align: center;
    color: #ffffff;
    line-height: 30px;
    margin-top: 0px; 
    margin-left: 100px;
    position: relative;
    z-index: 0;
}


/* -------------------------- */
.Potential-Assessment-box {
    width: 355px; 
    height: 30px; 
    background-color: #333356;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border: 1.5px solid #000000;
    border-radius: 5px;
    line-height: 30px; 
    margin-top: 100px;
    margin-left:-850px;
}

.info-box {
    width: 355px; 
    height: 30px; 
    background-color: #ffffff;
    font-weight: bold;
    color: black;
    text-align: center;
    border: 1.5px solid #000000;
    border-radius: 5px;
    line-height: 30px; 
    margin-top: 100px;
    margin-left:50px;
}


.Performance_Assessment-box {
    width: 355px; 
    height: 30px; 
    background-color: #333356;
    font-weight: bold;
    color: #ffffff;
    border: 1.5px solid #000000;
    border-radius: 5px;
    text-align: center;
    line-height: 30px; 
    margin-top: 100px;
    margin-left:-850px;
}

.Competencies_Assessment-box{
    width: 355px; 
    height: 30px; 
    background-color: #333356;
    font-weight: bold;
    color: #ffffff;
    border: 1.5px solid #000000;
    border-radius: 5px;
    text-align: center;
    line-height: 30px; 
    margin-top: 100px;
    margin-left:-850px;
}
.ranking{
    width: 200px; 
    height: 30px; 
    background-color: #f5f5f5;
    border-radius: 5px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    border-color: black;
    line-height: 30px; 
    margin-top: 50px;
    margin-left: 130px;
}
.ranking-box{
    width:100px; 
    height: 30px; 
    background-color: #333356;
    border-radius: 5px;
    font-weight: bold;
    border-color: black;
    color: #ffffff;
    text-align: center;
    line-height: 30px; 
    margin-top: -30px;
    margin-left: 230px;


}


/* -------------------------- */
.info-table {
    margin-top: 150px;
    width: 50%;
    /* margin-left:600px; */
    align-items: center;
    background-color:#ffffff;
}

.info-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
}

.info-table td {
    padding: 8px;
    border: 1.5px solid #0b0b0b;
}

.info-table td:first-child {
    font-weight: bold;
    background-color:#43435c;
    color: white;
    width: 30%;
}


.info-container {
    /* background-color: #3b1689; */
    color: white;
    padding: 15px;
    width:80%;
  }
  
  .headers {
    text-align: center;
    font-size: 34px;
    font-weight: bolder;
  }
  
  .profile {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #333356;
    color:white;
    
    border-radius: 20px;
  }
  
  .left-column, .right-column {
    width: 64%;
    margin-left: auto;
  }
  
  .persona-info {
    margin-bottom: 20px;
    font-size: large;
    /* margin-left:450px; */
    text-align: center;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .section ul li {
    margin-bottom: 5px;
  }
  
/* -------------------------- */
.career-table {
    margin-top: 100px;
    width: 50%;
    margin-left: 600px;
    background-color:#ffffff;
    border-radius: 5px;
}

.career-table table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

.title {
    background-color: #333356;
    color: white;
    border: 1.5px solid #0b0b0b;
    text-align: center;
    font-size: 20px;
}

.column {
    background-color: white;
    width: 50%;
    color: white;
    font-weight: bold;
    text-align: right;
}




/* -------------------------- */
.performance-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
    width: 50%;
    /* margin: 100px; */
    margin-top: -360px;;
    margin-left:35%; 
    position: relative;
}

.grid-item {
    background-color:#B31827;
    padding: 45px;
    font-weight: bold;
    color:white;
    text-align:start;
    border: 3px solid #000000;
    position: relative;
}

/*flechas*/
.grid-item:nth-child(9)::before {
    content: '';
    position: absolute;
    top: -340px; 
    left: -570px; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 45px solid #333356;
}

.grid-item:nth-child(9)::after {
    content: 'POTENCIAL'; 
    position: absolute;
    top: -220%; 
    left: -550px;
    width: 40px; 
    height: 320%; 
    background-color: #333356;
    text-align: center;
    color: aliceblue;
    font-size: 24px; 
    font-weight: bold;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 50px 0;
}


.grid-item:nth-child(8)::before {
    content: '';
    position: absolute;
    top: 118%; 
    left: 175%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 56px solid #333356; 
    transform: rotate(-90deg);
}

.grid-item:nth-child(8)::after {
    content: 'DESEMPEÑO & COMPETENCIA'; 
    position: absolute;
    top: 120%; 
    left: -105%;
    width: 290%; 
    height: 35%;
    background-color: #333356;
    text-align:center;
    color: aliceblue;
    font-size: 24px; 
    font-weight: bold;
    padding: 10px 0;
}

/* -------------------------- */
.CultureWorkClimateSurvey-box{
    width: 355px; 
    height: 30px; 
    background-color: #333356;
    border-radius: 5px;
    font-weight: bold;
    border-color: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 30px; 
    margin-top: 100px;
    margin-left: 55px;
}
/* -------------------------- */

.Recommendations table {
    width: 355px; 
    height: 30px; 
    background-color: #333356;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    line-height: 30px; 
    margin-top: -200px;
    margin-left:55px;
    border-collapse: collapse;
    border: 1px solid #000000;
}

.Recommendations th,
.Recommendations td {
    padding: 8px;
    border: 1px solid #0b0b0b;
    text-align: center;
    background-color: #b3b3c8;
    color:#000000;
}

.Recommendations .title {
    background-color: #333356;
    border-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.Recommendations .column1 {
    background-color: #76778B;
    width: 50px;
    font-weight: bold;
}
