.App{
    font-family:Arial, Helvetica, sans-serif;
    display:block;
    flex-direction: column;
    align-items: center;
    animation: fadeInAnimation 1s forwards; 
  }

  .create-questions {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(255, 255, 255);
      animation: fadeInAnimation 1s forwards; 
    }

    .create-form {
      display: flex;
      flex-direction: column;
      width:500px;
      align-items: center;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #64637a;
    }
  
    .create-questions h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
   
    .create-questions label {
      width: 150px;
      font-weight: bold;
    }
  
  
    .create-questions input,
    .create-questions select1 {
      width: 300px;
      height: 40px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 8px;
      font-size: 16px;
    }

    .create-questions select1 {
      appearance: none; 
      height: 50px;
    }
  
     /* Button style  */
    .create-questions button {
      border: none;
      width: 200px;
      height: 50px;
      background-color: #2a2942;
      color: white;
      font-size: 18px;
      border-radius: 2px;
      cursor: pointer;
      /* transition: background-color 0.3s ease; */
    }
  
    .create-questions button:hover {
      background-color: #1c7120;
    }
  
    .error-message {
      color: #000000;
      background-color: #991942;
    }