.data-container {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -30px;
    display: flex;
    border-radius: 6px;
    text-justify: center;
    text-align: center;
    background-color: #6f6e88;
    height: 45px;
    color: white;
    font-weight: 700;
}

.main-content {
    border-radius: -200px;
    margin-bottom: 5px;
    display: flex;
}

.info {
    width: 80%;
    border-radius: 10px;
}

.actions {
    width: 70%;
    border-radius: 6px;
    display: flex;
}


.actions button {
    width: 100px;
    height: 30px;
    border-radius: 6px;
    margin: 5px;
    color: white;
}

.primary-button {
    border-radius: 6px;
    background-color: #8FACDE;
}

.primary-button:hover {
    border-radius: 6px;
    background-color: #7c95bf;
}

.secondary-button {
    border-radius: 6px;
    background-color: #6784B5;
}

.secondary-button:hover {
    border-radius: 6px;
    background-color: #556c93;
}

.tertiary-button {
    border-radius: 6px;
    background-color: #4b6d9d;
}

.tertiary-button:hover {
    border-radius: 6px;
    background-color: #3e5a81;
}