.data-container {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    /* margin-right: -20px; */
    display: flex;
    border-radius: 6px;
    text-justify: center;
    text-align: center;
    background-color: #444462;
    height: 45px;
    color: white;
    font-weight: 700;
}

.data-container:hover{
    background-color: #748ab0;
    display:flex;
}

.main-content {
    border-radius: -10px;
    margin-bottom: 5px;
    background-color: #d9d9d9;
    /* display: flex; */
}

.info {
    width: 400px;
    border-radius: 10px;
    padding:15px;
}

.actions {
    width: 10%;
    border-radius: 6px;
    display: flex;
}


.actions button {
    width: 30px;
    height: 10px;
    border-radius: 6px;
    margin: 300px;
    color: white;
}

.primary-button {
    /* border-radius: 10px; */
    width:5px;
    height:5px;
    background-color: #ffffff00;
}

.primary-button:hover {
    border-radius: 6px;
    background-color: #f6f7f7;
}

.secondary-button {
    border-radius: 6px;
    width:10px;
    height:5px;
    background-color: #ffffff00;
}

.secondary-button:hover {
    border-radius: 6px;
    background-color: #556c93;
}

.tertiary-button {
    border-radius: 6px;
    width:10px;
    height:10px;
    background-color: #ffffff00;
}

.tertiary-button:hover {
    border-radius: 6px;
    background-color: #3e5a81;
}