
.tituloComp{
  font-size: 14px;
  margin-bottom: 8px 
}

.competences-container{
  display: flex;
  background-color: #333356;
  flex-direction: column;
  align-items: center;
  animation: fadeInAnimation 1s forwards;
}

.competences-form {
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: start;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333356;
  align-items: center;
  height: 40%;
  color: white;
}

.competences-form input{
  width: 100%;
  padding: 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.competences-form
textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30%;
}

.competences-form label {
  display: block;
  margin-bottom: 8px;
}


.competences-form button {
  background-color: #cd1c2c;
  margin-top: 18px;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}


.competences-form button:hover {
  background-color: #45a049;
}