/* .App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.tituloComp{
  font-size: 24px;
  margin-bottom: 8px 
}
.competences-container{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInAnimation 1s forwards; 
  
}

.competences-form {
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: start;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #64637a;
  align-items: center;
  background-color: #d8d8db;
  height: 100vh;
}

.competences-form input{
  width: 50%;
  padding: 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.competences-form
textarea {
  width: 50%;
  padding: 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40vh;
}

.competences-form label {
  display: block;
  margin-bottom: 8px;
}



.competences-form button {
  background-color: #2e2d40;
  margin-top: 18px;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}


.competences-form button:hover {
  background-color: #45a049;
}