.survey-container {
    margin-top: 20px;
    background-color: white;
    width: 540px;
    height: 80px;
    border-radius: 10px;
}

.main-content_evaluacion {
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
}

.survey-title {
    display: flex;
    margin-left: 20px;
    font-weight: 600;
    color: #64637A;
    font-weight: 600;
}

.survey-options {
    background-color: rgb(233, 233, 233);
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
}

.survey-options button{
    border: none;
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: #CD1C2C;
    font-weight: 600;
}

.survey-options button:hover{
    border: none;
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: #991922;
    
}

.survey-info {
    border-right: 2px solid rgb(195, 195, 195);
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: gray;
}

.survey-status {
    border-right: 2px solid rgb(195, 195, 195);
    border-bottom-left-radius: 10px;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: gray;
}

.survey-actions {
    border-bottom-left-radius: 10px;
    width: 180px;
    display: flex;
    justify-content: center;
}

.actions_evaluacion button {
    width: 100px;
    height: 30px;
    margin: 15px;
    margin-right: 40px;
    border: none;
    border-radius: 2px;
    color: white;
}

.primary-button_evaluacion {
    background-color: #5BA4FC;
}

.primary-button_evaluacion:hover {
    background-color: #2f8dff;
}