.perfil-de-puesto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contenedor-perfil {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.titulo-perfil {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}

.formulario-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-perfil .input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.formulario-perfil .input-wrapper label {
    margin-right: 10px;
    width: 150px;
    text-align: right;
}

.formulario-perfil .input-wrapper select,
.formulario-perfil .input-wrapper input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.formulario-perfil .input-wrapper button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.formulario-perfil .input-wrapper button:hover {
    background-color: #0056b3;
}

.tabla-habilidades {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.tabla-habilidades th,
.tabla-habilidades td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.tabla-habilidades th {
    background-color: #007bff;
    color: white;
}

.tabla-habilidades td .accion-borrar {
    color: red;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.boton-aceptar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-aceptar:hover {
    background-color: #0056b3;
}
