.questions-admin-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-admin-container select{
    width: 100%;
}

.evaluations-actions {
    display: flex;
    margin: 10px;
}

.evaluations-actions link {
    margin-right: 10px;
    height: 30px;
    background-color: #5BA4FC;
    color: white;
    border: none;
    border-radius: 2px;
}

.search-options {
    margin: 10px;
}

.search-options select {
    width: 150px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
}

.search-options input {
    height: 25px;
    width: 200px;
    border: none;
    font-size: medium;
    margin-right: 5px;
}

.search-options button {
    height: 30px;
    border: none;
    border-radius: 2px;
    width: 80px;
}

.questions-container {
    height: 800px;
    overflow-y: auto;
}

.actions {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.habilidades-container {

    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.habilidad-container {
    background-color: white;
    height: 40px;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habilidad-container div {
    width: 50%;
}

.delete-button {
    background-color: red;
}