.box-grid-container {
  background-color: #d8d8db;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  animation: fadeInAnimation 1s forwards;

  align-items: center;
}

.box-grid-container h2 {
  font-size: 24px;
}

/* -------------------------- */

.flechaArriba {
  display: flex;
  grid-row: span 3 / span 3;
  background-color: #333356;
  color: white;

  align-content: center;
 justify-content: center;

  padding: 20px 40px;

  clip-path: polygon(
    100% 20%,
    75% 20%,
    75% 100%,
    25% 100%,
    25% 20%,
    0% 20%,
    50% 0
  );
}

.text-flechaArriba {
  writing-mode: vertical-rl;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */

  padding: 0 10px;

  transform: rotate(180deg);
}

.flechaAbajo {
  grid-column: span 4 / span 4;
  background-color: #333356;
  padding: 20px 10px;
  color: white;
  margin-left: 25px;

  max-height: 5.5rem;
  align-content: center;

  clip-path: polygon(
    0% 20%,
    85% 20%,
    85% 0,
    100% 50%,
    85% 100%,
    85% 80%,
    0% 80%
  );
}
