.App{
    font-family: Arial, sans-serif;
    display:block;
    flex-direction: column;
    align-items: center;
  }
  .create-questions {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(255, 255, 255);
    }
  
    .create-questions h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
   
    .create-questions label {
      width: 150px;
      font-weight: bold;
    }
  
  
    .create-questions input,
    .create-questions select1 {
      width: 300px;
      height: 40px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 8px;
      font-size: 16px;
    }

    .create-questions select1 {
      appearance: none; 
      height: 50px;
    }
  
     Button style 
    .create-questions button {
      border: none;
      width: 200px;
      height: 50px;
      background-color: #007bff;
      color: white;
      font-size: 18px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    .create-questions button:hover {
      background-color: #0056b3;
    }
  
    .error-message {
      color: red;
    }