.main-container {
    width: 100%;
}



.question {
    display: flex;
    justify-content: space-between; /* Justify content horizontally */
    align-items: center; /* Align items vertically if needed */
    background-color: white;
    border-bottom: 1px dashed grey;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 8px; /* Adjust padding as needed */
  }
/* Update the styles for the dropdown button */
.dropbtn {
    background-color: rgb(123, 147, 225); /* Green color */
    color: white;
    padding: 8px 12px; /* Reduce vertical padding */
    font-size: 14px; /* Reduce font size */
    border: none;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
    width:150px;
    height: 50px;
  }

/* Update the styles for the dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: rgb(69, 111, 160); /* Darker green on hover & focus */
}

/* Update the styles for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(69, 111, 160); /* Green color for the dropdown content */
    width: 100%; /* Set width to 100% to match the button */
    box-shadow: 0px 8px 16px 0px    rgba(255, 255, 255, 0.2);
    z-index: 1;
    border-radius: 8px; /* Rounded corners */
    right: 0; /* Align to the right */
    width:150px;
    color:white;

  }

/* Update the styles for links inside the dropdown */
.dropdown-content a {
    color: white; /* White text for links */
    padding: 8px 12px; /* Reduce padding */
    text-decoration: none;
    display: block;
    border-radius: 8px; /* Rounded corners */
    width:150px;

  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(196,239,206,255); /* Darker green on hover */
}

/* Show the dropdown menu */
.show {
    display: block;
}

/* Position the dropdown container */
.dropdown-container {
    position: relative;
    width:150px;

}

.dropdown-option {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
  }

/* Styles for the dropdown button and content based on the selected option */
.dropdown-container.Low {
    background-color: #ff6b6b; /* Red color for Low */
    border-radius: 8px;
    position: relative;
    width:150px;

  }
  
  .dropdown-container.Moderate {
    background-color: #fdec9d; /* YelLow color for Moderate */
    position: relative;
    border-radius: 8px;
    width:150px;

  }
  
  .dropdown-container.Outstanding {
    background-color: rgba(196,239,206,255); /* Green color for Outstanding */
    position: relative;
    border-radius: 8px;
    width:150px;

  }
  
  .dropbtn.Low,
  .dropdown-content.Low {
    background-color: #ffc7ce; /* Red color for Low */
    color: #b72a2b;
    padding: 8px 12px; /* Reduce vertical padding */
    font-size: 14px; /* Reduce font size */
    border:none;
    cursor: pointer;
    border-radius: 8px;
    width:150px;

  }
  
  .dropbtn.Moderate,
  .dropdown-content.Moderate {
    background-color: #fdec9d; /* YelLow color for Moderate */
    color: #ca9941;
    padding: 8px 12px; /* Reduce vertical padding */
    font-size: 14px; /* Reduce font size */
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width:150px;

  }
  
  .dropbtn.Outstanding,
  .dropdown-content.Outstanding {
    background-color: rgba(196,239,206,255); /* Green color for Outstanding */
    color: #518436;
    padding: 8px 12px; /* Reduce vertical padding */
    font-size: 14px; /* Reduce font size */
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width:150px;

  }

  .title-container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro de .title-container */
    height: 30px;
    

  }

  .title-data-container {
    background-color: #762572;
    color: white;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  

  .calification-container {
    background-color: gold;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente el contenido */
    margin: 0; /* Restablece el margen predeterminado del h5 */
  }

  .evaluation-title {
    color: white;
    background-color: #38333f;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.total-title {
    background-color: #aeaaaa;
    color: white;
    width: 10%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
