.core-containers {
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    align-items: left;
    width: 100%;
    /* height: 100%; */
    /* overflow-y: auto; */
    background-color: #d8d8db;
    animation: fadeInAnimation 1s forwards; 
}

.top-containCore{
    display: flex;
    margin:15px;
    height: 35px;
}

.bods-container {
    display: flex;
    border-radius: 40px;
    justify-content: center;
    background-color: #a9a9a9;
    width:1100px;
    height: auto;
    margin-bottom: 70px;
    margin-top: 30px;
}

/*tabla*/
.container5Core{
    /* margin-top:25px;  */
    width: 90%; 
    max-height: 535px; 
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* margin:25px; */
    overflow-y: auto;
}



.container5Core table{
    /* width:auto;
    margin:30px;
    border: 1.5px solid black;
    border-collapse: collapse;
    margin-top:25 px; 
   /* border: 40px; */ 
   width: 100%;
   border-collapse: collapse;
   /* height: 100px; */
   
   border-radius: 5px;
   border: 1px solid #000000;
   border-radius: 5px;

}


.container5Core td{
    padding: 15px;
    /* text-align: center; */
    border: 1.5px solid black;
    /* width:80%; */
    height: auto;
   
} 

.container5Core td:hover{
    background-color: #000000;
}



.botns:hover{
    background-color: #cd1c2c;
  }
  
.botns{
background-color: #333356;
border-radius: 20px;
width: 150px;
height:auto;
color:white;
/* margin-left: 10px; */
margin-bottom:20px;
margin-top: 5px;
}

/*detalles de esa pantalla*/

.tops-container {
    display: flex;
    margin-bottom: 15px;
    margin-left: 20px;
    height: 30px;
    align-items: center;
    /* text-align: right; */
    margin-top: 30px;
    background-color: #7e0a12;
    border: 1.5px solid black;
    width: 65%;
    color:white;
    height: auto;
}

.topContainerTableCore{
    background-color: #7e0a12;
    border: 1.5px solid black;
    color:white;
   
}

.core-containers h2{
    font-size: x-large;
    font-weight: bold;
}

.core-containers h1{
    font-size: 36px;
    line-height: 2; 
    margin: auto;
    font-weight: bold;
}

.data-title-allCore {
    width: 15%;
    margin:5px;    
    background-color: #742772;
    color: white;
}

.data-title-1-2Core{
    width: 15%;
    margin:5px; 
    background-color: #bf8f00;
    color: white;
}

.data-title-3Core {
    width: 15%;
    margin:5px; 
    background-color: #002060;
    color: white;
}
.data-title-4Core {
    width: 15%;
    margin:5px; 
    background-color: #00b050;
    color: white;
}

.data-title-5Core {
    width: 15%;
    margin:5px; 
    background-color: black;
    color: white;
}

.data-title-6Core {
    width: 15%;
    margin:5px; 
    background-color: #7030a0;
    color: white;
}

.data-title-7Core{
    width: 15%;
    margin:5px; 
    background-color: #5b9bd5;
    color: white;
}


.bottoms-containerCore {
    display: flex;
    height: 35px;
    margin-left: 15px;
    margin-top: -5px;
}

.question-list{
    height: auto;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    overflow-y: auto;
}

.question-holders {
    width: 100%;
}

.surveys-actions {
    margin: 5px;
}

.survey-types {
    display: flex;
}

.coreCompetenceTitle {
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-align: center;

}

.behavior-title {
    color: white;
    background-color: #2a2942;
    height: 70px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    margin-left:20px;
}

.inform-all{
    color: white;
    background-color: #742772;
    font-size: 20px;
    text-align: center;
    /* height: auto; */
    width: 77%;
    /* border: 1.5px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: -25px; */
    padding: 10px;
    /* margin-left:20px; */
}

.inform12{
    color: white;
    background-color: #bf8f00;
    font-size: 20px;
    text-align: center;
    /* height: auto; */
    width: 77%;
    /* border: 1.5px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: -25px; */
    padding: 10px;
    /* margin-left:20px; */
}


.inform3{
    color: white;
    background-color: #002060;
    font-size: 20px;
    text-align: center;
    /* height: auto; */
    width: 77%;
    /* border: 1.5px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: -25px; */
    padding: 10px;
    /* margin-left:20px; */
}


.inform4{
    color: white;
    background-color: #00b050;
    font-size: 20px;
    text-align: center;
    /* height: auto; */
    width: 77%;
    /* border: 1.5px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: -25px; */
    padding: 10px;
    /* margin-left:20px; */
}


.inform5{
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
    /* height: auto; */
    width: 77%;
    /* border: 1.5px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: -25px; */
    padding: 10px;
    /* margin-left:20px; */
}


.inform6{
    color: white;
    background-color: #7030a0;
    font-size: 20px;
    text-align: center;
    /* height: auto; */
    width: 77%;
    /* border: 1.5px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: -25px; */
    /* padding: 10px; */
    /* margin-left:20px; */
}

.inform7{
    color: white;
    background-color: #5b9bd5;
    font-size: 20px;
    text-align: center;
    /* height: auto; */
    width: 77%;
    /* border: 1.5px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: -25px; */
    padding: 10px;
    /* margin-left:20px; */
}


.survey-containersCore p{
    margin:20px;
}

.categoriesCore {
    color: black;
    background-color: #b8b8b8;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 30px;
}

.evaluationTitleCore {
    color: white;
    background-color: #2a2942;
    justify-content: center;
    align-items: center;
    margin-left:20px;
    border: 1px solid black;
    font-size: 30px;
}

.categores2 {
    color: black;
    background-color: #d6d4d4;
    width: 30%; /* Ajusta este valor según sea necesario */
    padding: 10px;
}


.num-evaluacion {
    color: black;
    background-color: #ffffff;
    border: 1px solid black;
}


.total-titles {
    background-color: #aeaaaa;
    color: white;
    width: 10%;
    
    height: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.total-titles h2 {
    transform: rotate(-90deg);
    font-size: small;
}

.rotated-title-empleado {
    writing-mode: vertical-rl;
    border: 1px solid black;
    background-color: #25283b;
    color: white;
    width: 10%;
}

.rotated-title-pais {
    writing-mode: vertical-rl;
    border: 1px solid black;
    background-color: #c9b71a;
   width: 10%;
}



.blackthing{
    background-color: #918383;
    border: 1px solid black;
}

.small-row {
    height: 20px; /* Adjust the height as needed */
  }
  