.potencial-survey-containers {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #d8d8db;
    animation: potencial-fadeInAnimation 1s forwards;
    padding: 0;
    box-sizing: border-box;
}

.potencial-top-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding-left: 10px;
}

.potencial-botons {
    transform: scale(1.1);
    box-shadow: 2px 2px 0px #7e0a12;
    background-color: #333356;
    border-radius: 5px;
    width: 120px;
    height: auto;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.potencial-top-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background-color: #7e0a12;
    width: 100%;
    color: white;
    padding: 12px;
    text-align: center;
}

.potencial-top-containers h1 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;
}

.potencial-filter-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.potencial-filter-container label {
    margin-right: 10px;
    font-size: 14px;
    color: #333356;
}

.potencial-filter-container input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333356;
    font-size: 14px;
}

.potencial-table-container {
    width: 80%;
    margin: 20px;
    overflow-x: auto;
    max-height: 600px;
    overflow-y: auto;
}

.potencial-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    table-layout: fixed;
}

.potencial-thead {
    background-color: #333356;
    color: white;
}

.potencial-th, .potencial-td {
    padding: 10px;
    border-radius: 5px;
    border: 5px solid #f0f0f0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.potencial-th {
    background-color: #333356;
    color: white;
    font-size: 16px;
    text-align: center;
}

.potencial-td {
    background-color: #f0f0f0;
    font-size: 14px;
    text-align: left;
    padding-left: 50px;
}

.potencial-nota {
    text-align: center;
    padding: inherit;
}

@keyframes potencial-fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.total-titles h2 {
    transform: rotate(-90deg);
    font-size: medium;
}