/* PotencialCompetences.css */

/* Reset de márgenes y padding en body y html */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    
}

/* Estilos para el navbar */
.navbar {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para el contenedor principal */
.survey-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #d8d8db;
    animation: fadeInAnimation 1s forwards;
    padding: 0;  /* Asegurarse de que no haya padding */
    box-sizing: border-box;
}

/* Estilos para los botones superiores */
.top-buttons {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    margin-left: 20px;
    height: 30px;
    align-items: center;
    /* text-align: right; */
    margin-top: 120px;
    background-color: #7e0a12;
    border: 1.5px solid black;
    width: 65%;
    color:white;
    height: auto;
}


.survey-containers h2{
    font-size: x-large;
    font-weight: bold;
}

.botons:hover {
    background-color: #cd1c2c;
}

.botons {
    background-color: #333356;
    border-radius: 5px;
    width: 120px;
    height: auto;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* Estilos para los contenedores superiores */
.top-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;  /* Ajuste para mayor separación del contenido */
    background-color: #7e0a12;
    border: 1.5px solid black;
    display: flex;
    align-items: center;
    margin-top: -25px;
    padding: 10px;
    margin-left:20px;
}

.top-containers h1 {
    font-size: 28px;  /* Incrementar el tamaño de la fuente */
    line-height: 1.2;
    font-weight: bold;
}

/* Estilos para el contenedor del filtro */
.filter-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container label {
    margin-right: 10px;
    font-size: 14px;
    color: #333356;
}

.filter-container input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333356;
    font-size: 14px;
}

/* Estilos para el contenedor de la tabla */
.table-container {
    width: 80%;
    margin: 20px 0;
    overflow-x: auto; /* Scroll horizontal si es necesario */
    max-height: 600px; /* Ejemplo de altura máxima */
    overflow-y: auto; /* Scroll vertical si el contenido excede la altura máxima */
}


/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Fuerza que la tabla tenga un ancho fijo */
}

thead {
    background-color: #333356;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #333356;
    text-align: left;
    white-space: nowrap; /* Evita el salto de línea en el texto largo */
    overflow: hidden; /* Oculta el contenido que sobresale */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) para el contenido que no cabe */
}

th {
    background-color: #333356;
    color: white;
    width: 5%;
    height: 90px;
    margin-top: -150px;
    /* margin-bottom: 30px; */
    margin-left: 960px;
    display: flex;
    justify-content: center;
}

.total-titles h2 {
    transform: rotate(-90deg);
    font-size: medium;
}