body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos para el navbar */
.navbar {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para el contenedor principal */
.survey-containers {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #d8d8db;
    animation: fadeInAnimation 1s forwards;
    padding: 0;  /* Asegurarse de que no haya padding */
    box-sizing: border-box;
}

/* Estilos para los botones superiores */
.top-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;  /* Añadir espacio entre el botón y el navbar */
    padding-left: 10px;  /* Añadir espacio entre el botón y el borde izquierdo */
}

.botons:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 0px #7e0a12;
}

.botons {
    background-color: #333356;
    border-radius: 5px;
    width: 120px;
    height: auto;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

/* Estilos para los contenedores superiores */
.top-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;  /* Ajuste para mayor separación del contenido */
    background-color: #7e0a12;
    width: 100%;
    color: white;
    padding: 12px;
    text-align: center;
}

.top-containers h1 {
    font-size: 28px;  /* Incrementar el tamaño de la fuente */
    line-height: 1.2;
    font-weight: bold;
}

/* Estilos para el contenedor del filtro */
.filter-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container label {
    margin-right: 10px;
    font-size: 14px;
    color: #333356;
}

.filter-container input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333356;
    font-size: 14px;
}

/* Estilos para el contenedor de la tabla */
.table-container {
    width: 80%;
    margin: 20px; 
    overflow-x: auto; /* Scroll horizontal si es necesario */
    max-height: 600px; /* Ejemplo de altura máxima */
    overflow-y: auto; /* Scroll vertical si el contenido excede la altura máxima */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    table-layout: fixed; /* Fuerza que la tabla tenga un ancho fijo */
}

thead {
    background-color: #333356;
    color: white;
}

th, td {
    padding: 10px;
    border-radius: 5px;
    border: 5px solid #f0f0f0;
    white-space: nowrap; /* Evita el salto de línea en el texto largo */
    overflow: hidden; /* Oculta el contenido que sobresale */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) para el contenido que no cabe */
}

th {
    background-color: #333356;
    color: white;
    font-size: 16px;
    text-align: center;
}

td {
    background-color: #f0f0f0;
    font-size: 14px;
    text-align: left;
    padding-left: 50px;
}

.nota {
    text-align: center;
    padding: inherit;
}

/* Animación de fadeIn */
@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
