.administrar-empleados {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d8d8db;
  animation: fadeInAnimation 1s forwards;
}

.administrar-empleados h2 {
  font-size: 24px;
  margin: 5px;
  font-weight: bold;
}

.administrar-empleados h4 {
  font-size: 13px;
  font-family: monospace;
}

.add-button a {
  display: flex;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.add-button {
  cursor: pointer;
  margin: 5px;
  background-color: #525061;
  border: 1.5px solid black;
  color: white;
  border-radius: 20px;
  width: 30px;
  height: 10px;

}

.add-button:hover {
  background-color: #1c7120;
  ;
}

.search-options {
  margin: 10px;
  background-color: rgb(232, 232, 232);
  width: 600px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.search-options select {
  width: 500px;
  height: 28px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.search-options input {
  height: 25px;
  width: 900px;
  border: none;
  font-size: medium;
  margin-right: 5px;
}

.search-button {
  margin: 5px;
  background-color: #525061;
  border: 1.5px solid black;
  color: white;
  border-radius: 20px;
  width: 30px;
  height: 10px;
}


/*caja de informacion*/
.bodys-container {
  display: flex;
  border-radius: 40px;
  justify-content: center;
  background-color: #a9a9a9;
  width: 1100px;
  height: auto;
  margin-bottom: 70px;
  margin-top: 30px;
}

.list-container {
  /* overflow-y: auto; */
  border-radius: 6px;
  width: 900px;
  height: 500px;
}


.search-button:hover {
  background-color: #1c7120;
}


.popups {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popups2-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.popups2-content h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

.popups2-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2a2942;
  color: #fff;
  cursor: pointer;
}

.popups-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  color: black;
  text-align: center;
}

.popups button {
  margin-top: -630px;
  color: white;
}

.popups button:hover {
  background-color: rgb(14, 14, 14);
}


.assign-boss-modal {
  border: none;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #303c77;
  color: white;
}


/*Popup de crear empleado*/
.add-employee-popup-content {
  width: 350px;
  height: 550px;
  margin: auto;
  background-color: #63647a;
  color: black;
  padding: 25px;
  border-radius: 8px;
  border: 1.5px solid black;
  text-align: center;
  font-size: 15px;
  line-height: 34px;
}

.add-employee-popup-content label {
  margin: 5px;
  align-items: center;
}

.add-employee-popup-content button {
  margin: 5px;
  width: 100px;
  height: 25px;
  text-align: center;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  background-color: #4f4e57;
  color: #fff;
  cursor: pointer;
}

.add-employee-popup-content button:hover {
  background-color: #1c7120;
}

/*Popup de información*/
.information-popup-content {
  border: none;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  padding: 24px;
  background-color: #fcfcfd;
  color: black;
}

.information-popup-content button {
  margin: auto;
  width: 100px;
  height: 25px;
  padding: 3px 20px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: #636077d9;
  color: #ffffff;
  cursor: pointer;
}

/*tabla*/
.container3 {
  width: auto;
  max-height: 535px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.container3 thead {
  width: 100%;
  position: sticky;
  top: 0;
}

.container3 th {
  width: auto;
  background-color: #333356;
  color: #ffffff;
  border: 1px solid black;
  margin-bottom: 10px;
}


.container3 table {
  width: 1000px;
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid #000000;
  border-radius: 5px;

}

.container3 tr {
  border: 1.5px solid black;
  width: 100%;
}

.butne {
  width: 5%;
}

.container3 td {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  text-align: center;
}

.container3 td:hover {
  background-color: #63647a;
  color: white;
}