.administrar-empleados {
     width: 100%; 
     display: flex; 
    flex-direction: column; 
     justify-content: center; 
     align-items: center; 
    background-color: #cccccf;
}

.add-button {
    margin: 10px;
}

.add-button a {
    text-decoration: none;
    color: white;
    background-color: #8792c3;
    border-radius: 6px;
}

.add-button button {
    height: 30px;
    width: 130%;
    text-align: center;
    background-color: #3c1f64;
    color: white;
    border: none;
    border-radius: 6px;
    
}

.add-button:hover button{
    background-color: #4b8473;;
}

.search-options {
    /* margin: 10px; */
    background-color: rgb(232, 232, 232);
    width: 350px;
    height: 60px;
    margin-left: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.search-options select {
    width: 150px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
}

.search-options input {
    height: 25px;
    width: 200px;
    border: none;
    font-size: medium;
    margin-right: 5px;
}

.search-options button {
    height: 30px;
    border: 1.5px solid black;
    border-radius: 2px;
    width: 80px;
}


/*caja de informacion*/
.body-container {
    display: flex;
    border-radius: 6px;
    justify-content: center;
    background-color:#65707b;
    width:900px;
}

.list-container {
    overflow-y: auto;
    border-radius: 6px;
    width: 1400px;
    height: 500px;
    border: 1px solid black;
}

.search-button:hover {
    background-color: rgb(82, 88, 100);
}



  .assign-boss-modal {
    border: none;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #303c77;
    color: white;
  }


  /*Popup de crear empleado*/
  .add-employee-popup-content {
    width: 350px;
    height: 550px;
    background-color: #c8d4e0;
    color:black;
    padding: 20px;
    border-radius: 8px;
    border: 1.5px solid black;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
  }

  .add-employee-popup-content button {
    margin: 5px;
    width: 100px;
    height: 25px;
    /* padding: 10px 20px; */
    text-align: center;
    text-size: 20px;
    border: none;
    border-radius: 3px;
    background-color: #4f4e57;
    color: #fff;
    cursor: pointer;
  }

  /*Popup de información*/
  .information-popup-content {
    width: 20%;
    height: 250px;
    background-color: #b5acc0;
    color: black;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .information-popup-content button {
    margin: 5px;
    width: 100px;
    height: 25px;
    /* padding: 10px 20px; */
    text-align: center;
    text-size: 20px;
    border: none;
    border-radius: 3px;
    background-color: #4f4e57;
    color: #fff;
    cursor: pointer;
  }