.ModificarEmpleado {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .contenido-empleado {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px; /* Ajustamos el padding para no ocultar el navbar */
    background-color: #2A2942; /* Color de fondo para el espacio en blanco */
  }
  
  .formulario-container-empleado {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto; /* Ajustamos los márgenes */
    box-sizing: border-box; /* Incluimos el padding en el ancho total */
  }
  
  .imagen-empleado {
    width: 200px; /* Ajustamos el tamaño del logo */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px; /* Espacio entre el logo y el formulario */
  }
  
  .titulo-empleado {
    margin-left: auto; /* Mueve el título hacia la derecha */
    margin-bottom: 20px; /* Espacio entre el título y el formulario */
    font-size: 24px; /* Aumenta el tamaño del texto */
    font-weight: bold; /* Hace que el texto sea más audaz */
    color: black; /* Cambia el color del texto a blanco */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 1px; /* Aumenta el espaciado entre las letras */
  }
  
  .input-wrapper-empleado {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input-wrapper-empleado label {
    min-width: 80px;
    margin-right: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .input-wrapper-empleado input {
    width: 80%; /* Reducimos aún más el ancho de los inputs */
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #ccc;
  }
  
  .formulario-empleado button {
    width:35%;
    padding: 10px 20px;
    background-color: #333356;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .formulario-empleado button:hover {
    background-color: #444462;
  }
  
  .button-container-empleado {
    margin-top: 20px; /* Ajustamos el margen superior */
  }
  
  .button-container-empleado button {
    width: 100px; /* Ajustamos el ancho de los botones */
    padding: 10px; /* Ajustamos el padding */
  }