.navbar {
    background-color: #333356;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    font-size:larger;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
}

.nav-list {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}



.nav-item {
    width: 230px;
    margin-left: 5px;
    padding: 5px;
    color: white;
    font-size:larger;
    height: 100%;
    cursor: pointer;
    text-decoration: none;

}

.nav-item:hover {
    background-color: #515189;
}

/* .logo-container img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
  } */

.dropdown {
    background-color: antiquewhite;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 15px;
    position: absolute;
    z-index: 1000;
}

.nav-link {
    color: white;
    background-color: #64637A;
    border: 1px solid black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 180px; 
    font-weight: 290;
    font-size: medium;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #64637A;
}


.cerrar-sesion {
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
    margin-left: 100px;
    /* padding: 2px; */
    background-color: #cd2c1c;
    color: white;
    border-radius: 20px;
    height: 25px;
}

.cerrar-sesion:hover{
    background-color: #cb1b0b6f;
}

.nav-item-logout {
    color: white;
    text-decoration: none;
}