.biblioteca-competencias {
  display: flex;
  width:100%;
  height:100vh;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #d8d8db;
  animation: fadeInAnimation 1s forwards; 
}

.competencias-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.biblioteca-competencias h4{
  font-size: 13px;
  font-family:monospace;
}


.competencia-card {
  background-color: #322bc6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  color: #fff;
}

.competencia-card:hover {
  transform: scale(1.05);
}

.competencia-card:nth-child(odd) {
  background-color: #760025;
}

.competencia-card:nth-child(even) {
  background-color: #991942;
}

.modal-container {
  display: flex;
  justify-content: center;
}

.biblioteca-competencias h1{
  font-size: 24px;
}
/* 
.biblioteca-competencias button{
  background-color: #333356;
  border-radius: 20px;
  width: 150px;
  height:auto;
  color:white;
  margin-left: 1000px;
  margin-bottom: 20px;
  margin-top: -20px;
} */

.boton:hover{
  background-color: #3d7d40;
}

.boton{
  background-color: #333356;
  border-radius: 20px;
  width: 150px;
  height:auto;
  color:white;
  margin-left: 1000px;
  margin-bottom: 20px;
  margin-top: -20px;
}
.information-modal {
  border: none;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #cfcfd4;
  color: white;
}

.information-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
  background-color: #406eaf;
}

.actions-container {
  display: flex;
  justify-content: center;
}

.actions-container button{
  border: none;
  width: 100px;
  height: 30px;
  background-color: #64637a;
  color: white;
}

.information {
  background-color: #90AFDB;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.actions-container button:hover{
  border: none;
  width: 100px;
  height: 30px;
  background-color: #4d4c5f;
}

.popups2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popups2-content{
  background-color: #fff;
padding: 20px;
border-radius: 8px;
text-align: center;
}

.popups2-content h3{
  font-size: 20px;
  font-weight: bold;
  margin:5px;
}

.popups2-content button{
  margin-top:-630px;
  /* padding: 10px 20px; */
  /* border: none; */
  /* border-radius: 5px; */
  background-color: #2a2942;
  color: #fff;
  cursor: pointer;
}

