
.tablita-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 900px;
    background-color: rgb(201, 201, 201); /* Red color */
    height: 700px; /* Ensures the container covers the entire viewport height */
    margin-left: 500px; /* Move the container 300px to the right */
    border-radius: 14px;

}

.tablita-container .p-datatable .p-datatable-thead > tr > th {
    background-color: #142964; /* Change this color to your desired header background color */
    color: white; /* Change this color to your desired header text color */
    width: 700px;
   /* border-radius: 10px; */
}


.tablita-container .p-datatable .p-datatable-tbody > tr > td {
    text-align: center; /* Center the text in the table body */
    
}

/* Additional style to ensure text centering in header */
.tablita-container .p-datatable .p-column-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-input {
    border: 2px solid #142964; /* Change this to your desired border color */
    border-radius: 5px; /* Optional: Add rounded corners */
    padding: 5px; /* Optional: Add some padding inside the input */
    outline: none; /* Remove default outline */
}

/* Add any additional styling you want for the input focus state */
.search-input:focus {
    border-color: #0d47a1; /* Change this to your desired focus border color */
    box-shadow: 0 0 5px rgba(0, 72, 255, 0.5); /* Optional: Add a shadow on focus */
}



